{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{hobby.name}}</title>
    <link rel="stylesheet" href="{% static 'marketplace/index.css' %}" />
  </head>

  <body>
    <div class="card">
      {% if hobby %}
      <p>{{ hobby.name }}</p>
      
      <form method="post" action="{% url 'vote' hobby.id %}">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <input type="hidden" name="hobby" value="{{ hobby.id }}">

      {% if voted %}
      <p>Votes: You voted for {{hobby.name}}</p>
      <input type="hidden" name="vote" value="0">
      <button type="submit"> Remove vote </button>
      {% else %}
      <p>You have not voted for {{hobby.name}}</p>
      <input type="hidden" name="vote" value="1">
      <button type="submit"> Vote </button>
      {% endif %}
      </form>
      {% else %}
      <p>There are no hobbies.</p>
      {% endif %}
    </div>
  </body>
</html>
