{% load static %}
<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>My test page</title>
  <link rel="stylesheet" href="{% static 'marketplace/index.css' %}">

</head>

<body>
  <div class="card">
    <h1>offerings</h1>
    <a href="{% url 'add_offering' %}"><button>Add New Offering</button></a>
    {% if all_offerings %}
    <ul>
      {% for offering in all_offerings%}
      <li><a href="{% url 'offering_detail' offering.id %}">{{ offering.name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no offerings.</p>
    {% endif %}
  </div>
</body>

</html>
